<div class="row">
  <h4 class="m-4">Available assets:</h4>
  <table class="table table-bordered ml-4 mr-4">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Asset</th>
      <th scope="col">Value</th>
      <th scope="col">No. of Items</th>
      <th scope="col">Edit</th>
      <th scope="col">Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let asset of availableAssets; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ asset.name}}</td>
      <td>{{ (asset.money / this.rate).toFixed(2) + " " + this.currency }}</td>
      <td>{{ asset.items.length }}</td>
      <td>
        <button (click)="edit(i)">Edit</button>
      </td>
      <td>
        <button (click)="removeAsset(i)">Remove</button>
      </td>
    </tr>

    <tr *ngFor="let assetEntityEntity of newAssets; let i = index" style="background: green">
      <th scope="row">{{ assetEntityEntity.id }}</th>
      <td>{{ assetEntityEntity.name}}</td>
      <td>{{ (assetEntityEntity.money / this.rate).toFixed(2) }}</td>
      <td>{{ assetEntityEntity.items.length }}</td>
      <td>
        <button>Edit</button>
      </td>
      <td>
        <button (click)="removeAsset(i)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="m-2">
  <button (click)="confirmSummary()" class="btn btn-primary mx-1">SUBMIT SUMMARY</button>
  <button (click)="addAssetPage()" class="btn btn-secondary mx-1">ADD ASSET</button>
  <button (click)="cancelSummary()" class="btn btn-danger mx-1">CANCEL</button>
</div>
