<form [formGroup]="assetForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-md-6">
      <div class="card mt-3">
        <div class="card-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div *ngIf="assetForm.controls.name.touched && assetForm.controls.name.errors?.required"
                 class="text-danger">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="money">Money Value</label>
            <input type="number" class="form-control" id="money" formControlName="money">
            <div *ngIf="assetForm.controls.money.touched && assetForm.controls.money.errors?.required"
                 class="text-danger">
              Money Value is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mt-3" formArrayName="items">
        <div *ngFor="let itemEntity of assetForm.get('items')['controls']; let i=index" [formGroupName]="i">
          <div class="card mt-2">
            <div class="card-body">
              <div class="form-group">
                <label for="itemName{{i}}">Item Name</label>
                <input type="text" class="form-control" id="itemName{{i}}" formControlName="name">
              </div>
              <div class="form-group">
                <label for="itemMoneyValue{{i}}">Item Money Value</label>
                <input type="number" class="form-control" id="itemMoneyValue{{i}}" formControlName="money"
                       (change)="updateAssetMoneyValue()">
              </div>
              <div class=" form-group">
                <label for="itemQuantity{{i}}">Item Quantity</label>
                <input type="number" class="form-control" id="itemQuantity{{i}}" formControlName="quantity">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-secondary m-2" (click)="addItem()">Add Item</button>
  <button type="submit" class="btn btn-primary m-2">Submit</button>
</form>
