<form [formGroup]="assetForm" (ngSubmit)="onSubmit()" class="p-4">
  <div class="flex flex-wrap -mx-2">
    <div class="w-full md:w-1/2 px-2">
      <div class="bg-white shadow mt-3 p-4 rounded-lg">
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">Name</label>
          <input type="text" formControlName="assetName"
                 class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <div *ngIf="assetForm.get('assetName')?.touched && assetForm.get('assetName')?.errors?.required"
               class="text-red-500 text-xs italic">
            Name is required.
          </div>
        </div>
        <div class="mt-4">
          <label for="type" class="block text-gray-700 text-sm font-bold mb-2">Type</label>
          <select type="text" id="type" formControlName="type"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option>CUSTOM</option>
            <option>STOCK</option>
          </select>
          <div *ngIf="assetForm.get('type')?.touched && assetForm.get('type')?.errors?.required"
               class="text-red-500 text-xs italic">
            Type is required.
          </div>
        </div>
        <div class="mt-4">
          <label for="money" class="block text-gray-700 text-sm font-bold mb-2">Money Value</label>
          <input type="number" id="money" formControlName="money" readonly
                 class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <div *ngIf="assetForm.get('money')?.touched && assetForm.get('money')?.errors?.required"
               class="text-red-500 text-xs italic">
            Money Value is required.
          </div>
        </div>
      </div>
    </div>

    <div class="w-full md:w-1/2 px-2" formArrayName="items">
      <div *ngFor="let itemEntity of assetForm.get('items')?.['controls']; let i=index" [formGroupName]="i">
        <app-stock-item-form *ngIf="assetForm.value.type=='STOCK'" [assetForm]="items.at(i)"></app-stock-item-form>
        <app-normal-item-form *ngIf="assetForm.value.type=='CUSTOM'" [assetForm]="items.at(i)"></app-normal-item-form>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-start space-x-2 mt-4">
    <button type="button" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="updateFormArray(assetForm.value.type)">Add Item
    </button>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
    <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="cancelSummary()">Cancel
    </button>
  </div>
</form>
