<div class="max-w-2xl bg-slate-300 m-auto">
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()" class="space-y-4 mt-10 font-medium">
    <div class="m-2 space-y-1">
      <label class="block" for="name">Name</label>
      <input class="shadow-md rounded" id="name" formControlName="name"/>
      <div *ngIf="assetForm.get('name').invalid && assetForm.get('name').touched">
        Name is required.
      </div>
    </div>

    <div class="m-2 space-y-1">
      <label class="block" for="money">Money</label>
      <input class="shadow-md rounded" id="money" type="number" formControlName="money"/>
      <div *ngIf="assetForm.get('money').invalid && assetForm.get('money').touched">
        Money must be a positive number.
      </div>
    </div>

    <div class="m-2 space-y-1">
      <label class="block" for="type">Type</label>
      <select class="shadow-md rounded" id="type" formControlName="type">
        <option value="" disabled>Select type</option>
        <option value="STOCK">STOCK</option>
        <option value="CUSTOM">CUSTOM</option>
      </select>
      <div *ngIf="assetForm.get('type').invalid && assetForm.get('type').touched">
        Type is required.
      </div>
    </div>

    <div formArrayName="items">
      <div *ngFor="let item of items.controls; let i = index">
        <div *ngIf="assetForm.get('type').value === 'STOCK'" [formGroupName]="i" class="bg-slate-400 relative p-5 shadow-sm">
          <label class="block" for="ticker">Ticker</label>
          <input class="shadow-md rounded" id="ticker" formControlName="ticker"/>
          <label class="block" for="purchasePrice">Purchase Price</label>
          <input class="shadow-md rounded" id="purchasePrice" type="number" formControlName="purchasePrice"/>
          <label class="block" for="currentPrice">Current Price</label>
          <input class="shadow-md rounded" id="currentPrice" type="number" formControlName="currentPrice"/>
          <label class="block" for="name">Item Name</label>
          <input class="shadow-md rounded" id="name" formControlName="name"/>
          <label class="block" for="quantity">Quantity</label>
          <input class="shadow-md rounded" id="quantity" type="number" formControlName="quantity"/>
          <label class="block" for="money">Money</label>
          <input class="shadow-md rounded" id="money" type="number" formControlName="money"/>
          <div class="absolute top-5 right-5 text-white hover:font-bold cursor-pointer" (click)="removeItem(i)">X</div>
        </div>

        <div *ngIf="assetForm.get('type').value === 'CUSTOM'" [formGroupName]="i" class="p-5 shadow-sm bg-slate-400 relative">
          <label class="block" for="customName">Name</label>
          <input class="shadow-md rounded" id="customName" formControlName="name"/>
          <label class="block" for="customMoney">Money</label>
          <input class="shadow-md rounded" id="customMoney" type="number" formControlName="money"/>
          <div class="absolute top-5 right-5 text-white hover:font-bold cursor-pointer" (click)="removeItem(i)">X</div>
        </div>
      </div>
    </div>

    <div class="mx-auto space-x-3 my-2">
      <button class="bg-secondary rounded py-2 px-4 text-white" type="submit" [disabled]="assetForm.invalid">Submit</button>
      <button class="bg-secondary rounded py-2 px-4 text-white" type="button" (click)="addCustomItem()">Add</button>
    </div>

  </form>
</div>
