<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="max-w-md mx-auto my-10 space-y-4">
  <div>
    <label for="username" class="block text-sm font-medium text-gray-700">Email:</label>
    <input ngModel type="text" class="mt-1 p-2 w-full border-gray-300 rounded-md shadow-sm" id="username" name="username" required email autofocus />
  </div>
  <div>
    <label for="password" class="block text-sm font-medium text-gray-700">Password:</label>
    <input ngModel type="password" class="mt-1 p-2 w-full border-gray-300 rounded-md shadow-sm" id="password" name="password" required />
  </div>
  <button type="submit" class="w-full flex justify-center py-2 px-4 rounded bg-secondary text-white">
    Sign In
  </button>
</form>
