<nav class="navbar navbar-expand nav-color">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/homepage" *ngIf="!isAuthenticated">
        <div class="nav-itemEntity"><h4>Home</h4></div>
      </div>
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/dashboard" *ngIf="isAuthenticated">
        <div class="nav-itemEntity"><h4>Dashboard</h4></div>
      </div>
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/history" *ngIf="isAuthenticated">
        <div class="nav-itemEntity"><h4>History</h4></div>
      </div>
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/manage" *ngIf="isAuthenticated">
        <div class="nav-itemEntity"><h4>Manage</h4></div>
      </div>
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/auth" *ngIf="!isAuthenticated">
        <div class="nav-itemEntity"><h4>Auth</h4></div>
      </div>
      <div class="col d-flex justify-content-center align-items-center" *ngIf="isAuthenticated">
        <div class="nav-itemEntity" (click)="onLogout()"><h4>Logout</h4></div>
      </div>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <select class="form-select form-select-sm" (change)="onCurrencyChange($event)">
        <option value="PLN">PLN zł</option>
        <option value="USD">USD $</option>
        <option value="EUR">EUR €</option>
      </select>
    </div>
  </div>
</nav>
