<nav class="flex items-center justify-between bg-primary p-6">

  <div class="flex text-white mr-10">
    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/>
    </svg>
    <span class="font-semibold text-xl tracking-tight">Wealth Tracker</span>
  </div>

  <div class="flex items-center">
    <div class="text-sm text-white">
      <a class="mr-10"
         routerLinkActive="isActive" routerLink="/homepage" *ngIf="!isAuthenticated">
        Home
      </a>
      <a class="mr-10"
         routerLinkActive="isActive" routerLink="/dashboard" *ngIf="isAuthenticated">
        Dashboard
      </a>
      <a class="mr-10"
         routerLinkActive="isActive" routerLink="/history" *ngIf="isAuthenticated">
        History
      </a>
      <a class="mr-10"
         routerLinkActive="isActive" routerLink="/explorer" *ngIf="isAuthenticated">
        Explorer
      </a>
      <a class="mr-10"
         routerLinkActive="isActive" routerLink="/manage" *ngIf="isAuthenticated">
        Manage
      </a>
      <a class="mr-10"
         routerLinkActive="isActive" routerLink="/auth" *ngIf="!isAuthenticated">
        Sign In
      </a>
    </div>

    <div class="flex items-center relative" *ngIf="isAuthenticated">
      <button type="button" (click)="toggleDropdown()" class="mr-10 text-white">
        <i class="fas fa-user"></i> <!-- FontAwesome User Icon -->
      </button>
      <div class="relative" *ngIf="showDropdown" (mouseleave)="toggleDropdown()">
        <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5" role="menu"
             aria-orientation="vertical" aria-labelledby="user-menu">
          <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem"
             routerLinkActive="isActive" *ngIf="isAuthenticated" (click)="onLogout()">
            Logout
          </a>
          <a routerLink="/account" *ngIf="isAuthenticated" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Account Details</a>
          <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Payment Method</a>
        </div>
      </div>
    </div>

    <div class="flex items-center ml-4" *ngIf="isAuthenticated">
      <select (change)="onCurrencyChange($event)" class="text-white bg-primary border-none">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>

  </div>
</nav>
