<nav class="navbar navbar-expand nav-color">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/logo.png" alt="PF" width="206" height="186">
    </a>
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/homepage">
        <div class="nav-item"><h4>Home</h4></div>
      </div>
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/history">
        <div class="nav-item"><h4>History</h4></div>
      </div>
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/manage">
        <div class="nav-item"><h4>Manage</h4></div>
      </div>
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/login">
        <div class="nav-item"><h4>Login</h4></div>
      </div>
      <div class="col d-flex justify-content-center align-items-center" routerLinkActive="isActive" routerLink="/login">
        <div class="nav-item" (click)="logout()" )><h4>Login</h4></div>
      </div>
    </div>
  </div>
</nav>
