<h4>Current assets:</h4>
<div class="bg-secondary p-5">
  <div class="row" style="background: #FFFFFF">

    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Asset</th>
        <th scope="col">Value</th>
        <th scope="col">No. of Items</th>
        <th scope="col">Percentage</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let assetEntity of assets; let i = index">
        <th scope="row">{{ i + 1}}</th>
        <td>{{ assetEntity.name}}</td>
        <td>{{ assetEntity.money }}</td>
        <td>{{ assetEntity.items.length }}</td>
        <td>{{ percentages[i] | percent }}</td>
      </tr>
      <tr>
        <th scope="row">{{assets.length + 1}}</th>
        <td><strong>SUM</strong></td>
        <td><strong>{{sum | number}}</strong></td>
        <td><strong>{{numberOfItems}}</strong></td>
        <td><strong>100.00%</strong></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="my-2">
  <button class="btn btn-secondary btn-lg btn-block mb-2" role="button"
          [disabled]="inSummaryCreation"
          (click)="createNewSummary()">
    CREATE NEW SUMMARY
  </button>
  <button class="btn btn-secondary btn-lg btn-block mb-2" role="button"
          *ngIf="inSummaryCreation == true"
          (click)="continueCreation()">
    CONTINUE CREATING SUMMARY
  </button>
</div>

