<form [formGroup]="assetForm" (ngSubmit)="onSubmit()" class="space-y-4">
  <div>
    <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
    <input type="text" id="name" formControlName="name"
           class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    <div *ngIf="assetForm.controls.name.touched && assetForm.controls.name.errors?.required" class="text-red-500 text-xs mt-1">
      Name is required.
    </div>
  </div>

  <div>
    <label for="money" class="block text-sm font-medium text-gray-700">Money Value</label>
    <input type="number" id="money" formControlName="money"
           class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    <div *ngIf="assetForm.controls.money.touched && assetForm.controls.money.errors?.required" class="text-red-500 text-xs mt-1">
      Money Value is required.
    </div>
  </div>

  <div class="w-full md:w-1/2 px-2" formArrayName="items">
    <div *ngFor="let itemEntity of assetForm.get('items')['controls']; let i=index" [formGroupName]="i">
      <app-stock-item-form *ngIf="assetForm.value.type=='STOCK'" [assetForm]="items.at(i)"></app-stock-item-form>
      <app-normal-item-form *ngIf="assetForm.value.type=='CUSTOM'" [assetForm]="items.at(i)"></app-normal-item-form>
    </div>
  </div>

  <div class="flex items-center justify-start space-x-2 mt-4">
    <button type="button" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="updateFormArray(assetForm.value.type)">Add Item
    </button>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
    <button type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="cancelEditing()">Cancel
    </button>
  </div>
</form>
