<div class="mt-10 p-6 max-w-lg mx-auto border-2 rounded shadow-lg">
  <div class="flex justify-between items-center mb-6">
    <div [class.highlight]="router.url.endsWith('/payment')" class="step">
      <a>
        <div class="step-number" [class.active]="router.url.endsWith('/payment')">1</div>
        <div class="step-label">Payment</div>
      </a>
    </div>
    <div [class.highlight]="router.url.endsWith('/buy')" class="step">
      <a>
        <div class="step-number" [class.active]="router.url.endsWith('/buy')">2</div>
        <div class="step-label">Buy</div>
      </a>
    </div>
    <div [class.highlight]="router.url.endsWith('/success')" class="step">
      <a>
        <div class="step-number" [class.active]="router.url.endsWith('/success')">3</div>
        <div class="step-label">Success</div>
      </a>
    </div>
  </div>

  <!-- Router Outlet to render child components based on the active route -->
  <router-outlet></router-outlet>
</div>
