<div class="col" style="height: 115px;width: 277px;margin-bottom: 37px">
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6>{{asset.name}}</h6>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
          <p><b>{{asset.money}}$</b></p>
        </div>
        <div class="col">
          <button class="btn-primary btn-block">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
