<div class="container-sm ">
  <div class="max-w-xl mx-auto">
    <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div>

    <div *ngIf="!isLoginMode">
      <app-sign-up></app-sign-up>
    </div>

    <div *ngIf="isLoginMode">
      <app-login-component></app-login-component>
    </div>

    <div class="flex flex-row space-x-6 justify-center">
      <button class="py-2 px-4 bg-secondary text-white rounded"
        type="button" (click)="onSwitchMode()">
        Switch {{ isLoginMode ? 'to Sign Up' : 'to Login' }}
      </button>
      <a routerLink="/password_reset/request" class="py-2 px-4 bg-secondary text-white rounded">Forgot Password?</a>
    </div>
  </div>
</div>

