<div *ngIf="!isLoading" class="max-w-3xl bg-slate-300 rounded p-4">
  <div class="card mx-auto" style="max-width: 400px;">
    <div class="space-y-4">
      <h5 class="border-b">Premium Wealth Tracker Subscription</h5>
      <p class="text-slate-700">Get access to premium wealth tracking features for only €10/month.</p>
      <button class="py-1 px-2 bg-secondary rounded shadow text-white hover:shadow-2xl hover:font-medium" (click)="purchaseSubscription()">Purchase Subscription</button>
    </div>
  </div>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>
