<div class="row" style="background: #D9D9D9">

  <div class="col mt-4 ml-4">
    <div class="row bg-secondary" style="width: 370px"><p class="ml-2 big-f">Personal finance</p></div>
    <div class="row bg-secondary mt-2" style="width: 220px"><p class="ml-2 small-f">Adam Kazmierczak</p></div>
    <div class="row bg-secondary mt-2" style="width: 300px"><p class="ml-2 small-f">adas.kazmierczak&#64;gmail.com</p></div>
    <div class="row bg-secondary mt-2 mb-2" style="width: 190px"><p class="ml-2 small-f">+48 733 635 089</p></div>
  </div>

  <div class="col ml-4 mt-4">
    <div class="row bg-secondary mb-2" style="width: 310px;height: 200px">
      <div class="col">
        <p class="m-2 big-f">Site map</p>
        <p class="m-2 small-f">All our pages</p>
        <ul>
          <li><a>Home</a></li>
          <li><a>History</a></li>
          <li><a>Manage</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col mt-4">
    <div class="row mb-2">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col mr-5"><p class="date">{{ date }}</p></div>
    </div>
    <div class="row mb-4">
      <div class="col"></div>
      <div class="col ml-5"><img  alt="Money" src="assets/sack.png" style="width: 126px;height: 160px;margin-left: 40px"></div>
      <div class="col"></div>
    </div>
    <div class="row">
    </div>
  </div>


</div>

